NODE_ENV=development
APPLICATION_PORT=4003
APPLICATION_DB_HOST=localhost
APPLICATION_DB_PORT=5435
APPLICATION_DB_NAME=
APPLICATION_DB_USER=
APPLICATION_DB_PASSWORD=
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
